<component name="libraryTable">
  <library name="springframework:spring:1.2.2" type="repository">
    <properties maven-id="springframework:spring:1.2.2" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring/1.2.2/spring-1.2.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>